@charset "UTF-8";

ul {
  padding: 0;
}
ul li {
  list-style-type: decimal;
}

nav {
  height: 80px;
  background-color: #123456;
  border-bottom: #081625;
}
nav ul {
  padding: 0; 
  margin: 0;
  display: flex; /*azért, hogy a navigaciós menü - li-k azok ne egymás mellett legyenek, hanem a képernyő közepén felül*/
  justify-content: center; /*képernyő közepén legyen, amit belerakunk, itt az li-k*/
}
nav ul li {
  list-style: none;
  height: 80px; /*heigthnak meg kell egyeznie a nav height-jával*/
  line-height: 80px; /*line-heightnak is meg kell egyeznie, azért, hogy ami benne van "a" az középre kerüljön */
}
nav ul li:hover { 
  background-color: #123456;
}
nav ul li a {
  color: white; /*hogy más színe legyen a betűnek amit beírunk ide szövegként html-ben pl. home, services, contact*/
  padding: 15px; /*hogy az "a"-k eltávolodjanak egymástól*/
  text-decoration: none; /*hogy ne legyenek pontok vagy ilyesmik, ugyanugy, mint az li-nél*/
}

